header {
  background-color: #3c3c3c;
  width: 1360px;
  border: 15px #3c3c3c;
  padding: 40px;
  margin: 0px;
}
h1 {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: white;
}
a {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: white;
  text-align: right;
}
nav {
  background-color: darkblue;
  width: 1400px;
  border: 15px darkblue;
  padding: 20px;
  margin: 0px;
  font-family: "Verdana", sans-serif;
  color: white;
  text-align: center;
}
#main_image {
  width: 175%;
}
h2 {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: black;
  padding: 20px;
  margin: 0px;
}
#main {
  font-family: "Verdana", sans-serif;
  color: white;
  text-align: left;
  padding: 20px;
  margin: 0px;
  width: 1400px;
  background-color: #3c3c3c
}
h3 {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: black;
}
#bottomimages {
  align: center;
}
footer {
  background-color: #3c3c3c;
  width: 1400px;
  border: 15px #3c3c3c;
  padding: 20px;
  margin: 0px;
  font-family: "Verdana", sans-serif;
  color: white;
  text-align: left;
}
